<a href="https://colab.research.google.com/github/MarcoIvanNajeraDiaz/daa_2021_1/blob/master/26Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time
def ejemplo1( n ):
    start_time = time()
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    print(f"total={ total }")

for entrada in range(100, 1100, 100):
    ejemplo1(entrada)

Tiempo transcurrido: 0.0000009537 segundos.
total=1
Tiempo transcurrido: 0.0000009537 segundos.
total=1
Tiempo transcurrido: 0.0000011921 segundos.
total=1
Tiempo transcurrido: 0.0000004768 segundos.
total=1
Tiempo transcurrido: 0.0000004768 segundos.
total=1
Tiempo transcurrido: 0.0000007153 segundos.
total=1
Tiempo transcurrido: 0.0000007153 segundos.
total=1
Tiempo transcurrido: 0.0000004768 segundos.
total=1
Tiempo transcurrido: 0.0000004768 segundos.
total=1
Tiempo transcurrido: 0.0000004768 segundos.
total=1

In [ ]:
from time import time
def ejemplo2 ( n ):
    start_time = time()
    contador = 0
    for i in range ( n ):
        for j in range ( n ):
            contador += 1
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return contador
    
for entrada in range(100, 1100, 100):
    ejemplo2(entrada)

Tiempo transcurrido: 0.0009186268 segundos.
Tiempo transcurrido: 0.0027170181 segundos.
Tiempo transcurrido: 0.0068719387 segundos.
Tiempo transcurrido: 0.0102190971 segundos.
Tiempo transcurrido: 0.0146231651 segundos.
Tiempo transcurrido: 0.0193343163 segundos.
Tiempo transcurrido: 0.0253586769 segundos.
Tiempo transcurrido: 0.0329520702 segundos.
Tiempo transcurrido: 0.0418660641 segundos.
Tiempo transcurrido: 0.0524163246 segundos.

In [ ]:
from time import time
def ejemplo3( n ): # n=4
    start_time = time()
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return y

for entrada in range(100, 1100, 100):
    ejemplo3(entrada)

Tiempo transcurrido: 0.0000081062 segundos.
Tiempo transcurrido: 0.0000071526 segundos.
Tiempo transcurrido: 0.0000090599 segundos.
Tiempo transcurrido: 0.0000085831 segundos.
Tiempo transcurrido: 0.0000078678 segundos.
Tiempo transcurrido: 0.0000078678 segundos.
Tiempo transcurrido: 0.0000083447 segundos.
Tiempo transcurrido: 0.0000081062 segundos.
Tiempo transcurrido: 0.0000092983 segundos.
Tiempo transcurrido: 0.0000090599 segundos.

In [ ]:
from time import time
def ejemplo4( n ):
    start_time = time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return z
    
for entrada in range(100, 1100, 100):
    ejemplo4(entrada)

Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000002384 segundos.

In [ ]:
from time import time
def ejemplo5( x ):
    start_time = time()
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return n

for entrada in range(100, 1100, 100):
    ejemplo5(entrada)

Tiempo transcurrido: 0.0000064373 segundos.
Tiempo transcurrido: 0.0000181198 segundos.
Tiempo transcurrido: 0.0000407696 segundos.
Tiempo transcurrido: 0.0000376701 segundos.
Tiempo transcurrido: 0.0000467300 segundos.
Tiempo transcurrido: 0.0001223087 segundos.
Tiempo transcurrido: 0.0000481606 segundos.
Tiempo transcurrido: 0.0000524521 segundos.
Tiempo transcurrido: 0.0000615120 segundos.
Tiempo transcurrido: 0.0000767708 segundos.

In [ ]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 500 ))

125000000

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100, 1100, 100):
    ejemplo6(entrada)

Tiempo transcurrido: 0.1687972546 segundos.
Tiempo transcurrido: 1.2353396416 segundos.
Tiempo transcurrido: 3.8256647587 segundos.
Tiempo transcurrido: 10.0534188747 segundos.
Tiempo transcurrido: 18.6108305454 segundos.
Tiempo transcurrido: 38.4021670818 segundos.
Tiempo transcurrido: 55.6664996147 segundos.
Tiempo transcurrido: 79.8464565277 segundos.
Tiempo transcurrido: 115.1850812435 segundos.
Tiempo transcurrido: 159.4811716080 segundos.

In [ ]:
def ejemplo7(n):
  count = 0
  for i in range(n):
      for j in range(25):
          for k in range(n):
              count += 1
  return count

225

In [ ]:
def ejemplo7_2( n ):
    count = 1
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2
ejemplo7_2(3)

451

In [ ]:
numeros = [3,4,5,7,6]
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)
#T(n) = 1 + n

6

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador

print(ejemplo9( 5 ))
#T(n) = 3 + 2n

10

In [ ]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count
"""
n= 3
000
n00 <-- aqui empieza el for interno
nn0 <--- aqui termina el for interno
nnn
n = 4
0000
n000 <-- aqui empieza el for interno
nn00
nnn0 <--- aqui termina el for interno
nnnn

n =5
00000
n0000 <-- aqui empieza el for interno
nn000
nnn00
nnnn0 <--- aqui termina el for interno
nnnnn
"""
print(ejemplo10(5))
#T(n) = 1 + (n^2-n)/2

15

In [1]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

4

In [2]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador
# 1+n(2+2log2(n))
def ejemplo12_bis( n=5 ):
    contador = 0
    contador = contador + ejemplo11(0) # 0
    contador = contador + ejemplo11(1) # 0
    contador = contador + ejemplo11(2) # 1
    contador = contador + ejemplo11(3) # 1
    contador = contador + ejemplo11(4) # 2
    return contador
ejemplo12_bis( 5 )

4

In [3]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

 x = 1000
 x = 100.0
 x = 10.0
3

In [4]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

6

In [ ]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))